---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
InsertNewlineAtEOF: true
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Custom
AlignArrayOfStructures: Right
BraceWrapping:
  BeforeElse: true
...
